<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="70fda8">  <td>17/10/13 18:24:54</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TC01_VerifyLoginPage.SetUp()[pri:0, instance:com.Bsf.Email.HomePageTest.TC01_VerifyLoginPage@13a5fe33]">&gt;&gt;SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/10/13 18:25:12</td>   <td>17708</td> <td>&nbsp;</td><td title="&gt;&gt;TC02_VerifyHomePage.SetUp()[pri:0, instance:com.Bsf.Email.HomePageTest.TC02_VerifyHomePage@3108bc]">&gt;&gt;SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/10/13 18:25:30</td>   <td>36036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02_VerifyHomePage.VerifyHomePage_ValidData()[pri:4, instance:com.Bsf.Email.HomePageTest.TC02_VerifyHomePage@3108bc]">VerifyHomePage_ValidData</td> 
  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="70fda8">  <td>17/10/13 18:25:26</td>   <td>31834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01_VerifyLoginPage.VerifyLoginWith_Blank_User_Pass()[pri:1, instance:com.Bsf.Email.HomePageTest.TC01_VerifyLoginPage@13a5fe33]">VerifyLoginWith_Blank_User_Pass</td> 
  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="70fda8">  <td>17/10/13 18:25:27</td>   <td>33395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01_VerifyLoginPage.VerifyLoginWith_InValid_User_Pass()[pri:2, instance:com.Bsf.Email.HomePageTest.TC01_VerifyLoginPage@13a5fe33]">VerifyLoginWith_InValid_User_Pass</td> 
  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/10/13 18:25:28</td>   <td>34258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02_VerifyHomePage.VerifyLoginWith_Valid_User_Pass()[pri:3, instance:com.Bsf.Email.HomePageTest.TC02_VerifyHomePage@3108bc]">VerifyLoginWith_Valid_User_Pass</td> 
  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="70fda8">  <td>17/10/13 18:25:28</td>   <td>34256</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC01_VerifyLoginPage.endTest()[pri:0, instance:com.Bsf.Email.HomePageTest.TC01_VerifyLoginPage@13a5fe33]">&lt;&lt;endTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
</table>
