<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="70fda8">  <td>17/09/17 13:30:13</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TC02_VerifyHomePage.SetUp()[pri:0, instance:com.Bsf.Email.HomePageTest.TC02_VerifyHomePage@6d7b4f4c]">&gt;&gt;SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@727001376</td>   <td></td> </tr>
<tr bgcolor="70fda8">  <td>17/09/17 13:30:21</td>   <td>7947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02_VerifyHomePage.VerifyLoginWith_Valid_User_Pass()[pri:3, instance:com.Bsf.Email.HomePageTest.TC02_VerifyHomePage@6d7b4f4c]">VerifyLoginWith_Valid_User_Pass</td> 
  <td>main@727001376</td>   <td></td> </tr>
<tr bgcolor="70fda8">  <td>17/09/17 13:30:24</td>   <td>10710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02_VerifyHomePage.VerifyHomePage_ValidData()[pri:4, instance:com.Bsf.Email.HomePageTest.TC02_VerifyHomePage@6d7b4f4c]">VerifyHomePage_ValidData</td> 
  <td>main@727001376</td>   <td></td> </tr>
</table>
